* {
  margin: 0;
}

.content {
  display: flex;
}

input,
label {
  display: block;
}

img {
  height: 100vh;
  width: auto;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.overlay-text {
  position: absolute;
  top: 35%;
  left: 45%;
  display: flex;
  align-items: center;
}

.overlay-text img {
  height: 100px;
}

.right-section {
  margin: 150px 50px;
  font-size: 25px;
}

.content-form {
  display: flex;
  flex-direction: column;
}

.first-two {
  display: flex;
}

.middle-two {
  display: flex;
}

.last-two {
  display: flex;
}

.content-msg {
  margin: 10px;
}

.content-para {
  margin: 30px 0px;
}
