* {
  margin: 0;
}

.content {
  display: flex;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

input,
label {
  display: block;
}

img {
  height: 100vh;
  max-width: auto;
}

.image-container {
  position: relative;
  color: white;
  display: flex;
}

.dark-bg {
  position: absolute;
  font-family: Norse-Bold;
  font-size: 80px;
  margin-top: 31%;
  width: 100%;
  min-height: 100vh;
  display: inline-block;
}

.dark-bg span {
  margin-top: 15px;
}

.overlay-text {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  padding: 15px;
}

.overlay-text img {
  height: 100px;
}

.right-section {
  font-size: 25px;
}

.content-one {
  padding: 150px 50px 25px;
  background-color: whitesmoke;
  margin-right: -10000px;
}

.content-two {
  padding: 0px 50px;
  border-top: 1px solid rgb(211, 211, 211, 0.2);
  margin-right: -1000px;
  border-bottom: 1px solid lightgray;
  box-shadow: 2px 2px 2px lightgray;
  background-color: white;
}

.content-form h5 {
  padding: 10px 0px;
}

.content-form span {
  font-size: 12px;
}

.content-form input {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e5e7eb;
}

.content-three {
  padding: 25px 50px;
}

.content-three button {
  padding: 15px 50px;
  border-radius: 5px;
  background-color: #596d48;
  font-weight: bold;
  border: none;
}

.content-three button a {
  text-decoration: none;
  color: white;
}

.content-three p {
  padding: 20px 0px;
  font-size: 15px;
}

.content-three p a {
  color: #596d48;
  text-decoration: none;
}

.content-form {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.first-two {
  display: flex;
  gap: 60px;
}

.middle-two {
  display: flex;
  gap: 60px;
}

.last-two {
  display: flex;
  gap: 60px;
}

/* .content-msg {
} */

.content-para {
  margin: 30px 0px;
}
